@media only screen and (max-width: 500px), only screen and (max-device-width: 500px) {

    header, footer{
        height: 20vh;
        min-height: 100px;
    }
    body header h2{
        margin: 0!important;
        display: inline-block;
        float: left;
        line-height: 1.5em!important;
    }
    header h2 span{
        display: none;
        visibility: hidden;
    }
    header h2:after{
        content:'s.';
    }
    header ul{
    float: right;
    }

    .footer{
        padding: 0!important;
    }
    .skillsdiv{
        width: 100%!important;
    }
    .openpost{
        width:calc(100% - 20px)!important;
    }
    .archiveiconsimg{
        height:10em!important;
    }
    #commentForm{
        width:100%!important;
    }
    .input{
        padding: 0.8em 0!important;   
    }
    .button{
    }
    
    #contactform, #contactForm{
        width: 100%!important;
    }
    #network{
        float: left!important;
        text-align: left!important;
    }
    #archive-side-nav{
        display: none;
    }


}


code{
	line-height:1.5em;
}
    

#navigation {
    display: inline-block;
    margin: 2em 0;
}
#navigation li {
    display: inline;
    height: 70;
    float: left;
}
#navigation a {
    display: block;
    height: 70px;
}
#homelink {
    width: 65px;
    height: 70px;
    background-position: 0px 0px;
    background-image: url(../images/ok.png);
}
#homelink:hover {
    width: 65px;
    height: 70px;
    background-position: 0px 70px;
    background-image: url(../images/ok.png);
}
#contactlink {
    width: 65px;
    height: 70px;
    background-position: -65px 0px;
    background-image: url(../images/ok.png);
}
#contactlink:hover {
    width: 65px;
    height: 70px;
    background-position: -65px 70px;
    background-image: url(../images/ok.png);
}
#archives {
    width: 65px;
    height: 70px;
    background-position: -130px 0px;
    background-image: url(../images/ok.png);
}
#archives:hover {
    width: 65px;
    height: 70px;
    background-position: -130px 70px;
    background-image: url(../images/ok.png);
}
body header h2 {
    font-family: inherit;
    font-size: 5em;
    font-style: normal;
    line-height: normal;
    font-weight: 900;
    font-variant: inherit;
    text-transform: lowercase;
    color: var(--bodyColor);
    left: 0%;
    margin: 1em 0;
    cursor: pointer;
    user-select:none;
}

#refer {
    margin: 8% 0 0;
    width: 100%;
    /* position:absolute;
	top:20%;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	*/
}
#refer ul {
    text-align: center;
    /* clear:both;
	margin:0;
	padding: 0;
	*/
}
#refer ul li {
    display: inline-block;
    position: relative;
    height: auto;
    padding: 1em;
    margin: 0 2em;
    list-style: none;
    text-align: center;
    white-space: nowrap;
}
.circlelink {
    display: block;
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 4.5em;
    text-align: center;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    border: 0.3em solid var(--themeColor);
}

.circlelink:hover {
    text-decoration: none;
    font-style: bold;
    color:white;
    background: var(--themeColor);

}

.msg {
    font-family: inherit;
    font-style: normal;
    line-height: inherit;
    font-weight: inherit;
    font-variant: normal;
    text-transform: none;
    color: var(--themeColor);
    margin: 10px 0px;
}

.strip {
    background: var(--themeColor);
    top: 0;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.4);
    height: 70px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 100000;
}
.input {
    padding: 1em;
    background: inherit;
    font-size: inherit;
    font-family: inherit;
    color: #000;
    border: none;
    outline: none;
    margin: 0 0 1.5em;
    width: 100%;
    height: 1em;
    border-bottom: 3px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
}
.input:focus {
    /* outline: none !important; */
    border-bottom: 3px solid var(--themeColor);
}
button,
.button {outline: none;border: none;font-family: inherit;font-weight: bold;line-height: 1em;margin: 0 0 1.25em;position: relative;text-decoration: none;text-align: center;display: inline-block;padding: 0.8em 0;font-size: 1em;background-color: var(--themeColor);color: white;width: 100%;transition: all 0.4s ease-in-out;}
button:hover,
.button:hover {
    outline: none;
    
    border: none;
           box-shadow:
                3px 3px #333,
                6px 6px #777,
                9px 9px #ddd;
        -webkit-transform: translate(-6px,-6px);
        transform: translate(-6px,-6px); 
}
button:active, .button:active{
            transform: translate(0px,0px);
        box-shadow:none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--themeColor);
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
div#login {
    position: relative;
    float: right;
    height: 20px;
    padding: 5px;
    margin-right: 20px;
    top: -40px;
}
div#login:hover {}
.arrow_box {
    position: absolute;
    top: 40px;
    right: 0;
    width: 200px;
    height: auto;
    padding: 10px;
    background: #fff;
    visibility: hidden;
    border: solid 1px var(--themeColor);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
    -moz-box-shadow: 0 1px 10px rgba(113, 158, 206, 0.8);
    filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
    z-index: 9999;
}
.arrow_box:after,
.arrow_box:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 9px;
    right: 10%;
    margin-right: -9px;
}
.arrow_box:before {
    border-color: rgba(113, 158, 206, 0);
    border-bottom-color: var(--themeColor);
    border-width: 10px;
    right: 10%;
    margin-right: -10px;
}
#hor-minimalist-b {
    font-size: 1em;
    background: #fff;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
#hor-minimalist-b th {
    font-size: 1.1;
    font-weight: normal;
    color: var(--themeColor);
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}
#hor-minimalist-b td {
    border-bottom: 1px solid #ccc;
    color: var(--themeColor);
    padding: 10px 8px;
}
#hor-minimalist-b tbody tr:hover td {
    color: #009;
}
.inputpost {
    border: 0;
    padding: 10px;
    font-size: 1.3em;
    font-family: "Ubuntu Light", "Ubuntu", "Ubuntu Mono", "Segoe Print", "Segoe UI";
    color: #000;
    border: solid 1px #ccc;
    margin: 0 0 20px;
    width: 100%;
    min-width: 300px;
    max-width: 100%;
    min-height: 20px;
    -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.inputpost:focus {
    outline: none !important;
    border-color: var(--themeColor);
    box-shadow: 0 0 10px var(--themeColor);
}
.infobox {
    position: absolute;
    overflow: auto;
    left: 10%;
    top: 20%;
    width: 80%;
    height: 60%;
    padding: 10px;
    background: #fff;
    visibility: hidden;
    border: solid 1px var(--themeColor);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
    -moz-box-shadow: 0 1px 10px rgba(113, 158, 206, 0.8);
    filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
    z-index: 9999;
}
#archivehead {
    padding: 5px;
    /*background:#F8F8F8;*/
    margin-top: 3px;
    cursor: default;
}
#archivehead:hover {
    background: #F2F2F2;
    box-shadow: 2px 2px 4px #ccc;
}
.workhead {
    padding: 2em 2em;
    /*	background:#F8F8F8;*/
    margin-top: 0.5em;
}
.workhead:hover {
    background: #F2F2F2;
    box-shadow: 2px 2px 4px #ccc;
}
.div {
    box-sizing: border-box;
    position: relative;
}
.col {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #000;
    height: 100%;
    padding: 20px 3%;
}
.col:first-of-type {
    border-left: none;
}
.col-2 .col {
    width: 44%;
}
.coolclass {
    padding: 5px;
    /*background:#F8F8F8;*/
    margin-top: 3px;
}
.opentags{
    margin-right:3px;
}
.coolclass:hover {
    /*background:#F2F2F2;*/
    /* box-shadow: 0px 0px 4px #ccc; */
}
li.coolclass {
    list-style-type: none;
}
li.coolclass:hover {
    /* box-shadow: 0px 0px 4px #ccc; */
    list-style-type: none;
}
li.coolclass ul li {
    margin-left: 20px;
    list-style-type: none;
    overflow: hidden;
    \: -webkit-baseline-middle;
}
.tagholder {
    padding: 10px;
}
.tagholder:hover {
    padding: 10px;
    box-shadow: 0px 0px 4px #ccc;
}
#indexcontent {
    word-break: inherit;
    position: relative;
}
img {
    /*transition: 0.3s ease-in-out;*/
    max-width: 90%;
    max-height: 400px;
    /*! padding: 10px; */
}

/*
.imgclick{
max-height: 400px; max-width: 95%; margin: 0px auto; display: table; transform: scale(1.44); transform-origin: left center 0px; box-shadow: rgba(0, 0, 0, 0.611765) 0px 0px 13px; z-index: 100001; padding: 10px; background: white; position: relative;
}
*/

.imgclick {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform-origin: 0px center 0px; */
    box-shadow: rgba(0, 0, 0, 1) 15px 15px 50px;
    z-index: 100001;
    padding: 10px;
    background: white;
    max-height: 90%;
}
.loginbox {
    top: 50%;
    left: 50%;
    margin: 35px 0 0 -150px;
    position: absolute;
    background: var(--themeColor);
    height: 350px;
    width: 300px;
}
.alogin {
    min-width: 100px;
    width: 220px;
}
#loginform {
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.image {
    position: relative;
    width: 95%;
    /*! height:200px; */
    /*! padding: 10px; */
    margin: 20px auto;
    overflow: hidden;
    
}
.image img {
    vertical-align: top;
    
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
}
.image:hover img{
    
    transform: scale(1.1);
}
.image:after,
.image:before {
    position: absolute;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
}
.image:after {
    content: '\A';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}
.image:before {
    content: attr(data-content);
    width: 90%;
    color: #fff;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.2em;
}
.image:hover:after,
.image:hover:before {
    opacity: 1;
    
}

#imgFrame {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    min-width: 500px;
}
#NavTrigger {
    float: right;
    cursor: pointer;
    font-size: 0.9em;
}

p {
    font-size: 1em;
}
.videoholder {
    margin: 0 auto;
    max-width: 95%;
}
.archiveiconsimg {
    overflow: hidden;
    width: 100%;
    height: 10em;
    margin-bottom: 1em;
}
.archiveiconsimg img {
    height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
li.coolclass ul li a {
    padding: 10px;
}
.openpost {
    float: left;
    flex: 1 0 25%;
    text-align: left;
    max-width: 50%;
}
.openpost:hover {
    background-color: #f2f2f2;
}

.openpost:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.skillsdiv h2{
    font-size: 2em;
}
.skillsdiv {
    float:left;
    width: 30%;
    margin: 1em 1%;
}

.footer div{
    margin: 0;
    color: var(--bodyColor);
}




.main-content {
    min-height: 100vh;
    display: flex;
}

#info-box {
    
position: fixed;
    
top: 50%;
    
right: 0%;
    
font-size: 10em;
    
color: rgba(0,0,0,0.05);
}

#navblock {
    
}


.hideMeNav{
    margin: 10px 0;
    padding: 10px;
    background: var(--themeColor);
    line-height: inherit;
    color: inherit;
    font-weight: bold;
}

#postheading{
    
font-size: 3em;
    
line-height: 1.2em;
    
font-weight: bold;
}

#error-details{
    
border: 0.4em solid var(--themeColor);
    
padding: 1em;
    
margin: 1em;
    
font-weight: bold;
}

#archive-page-heading{
    
font-size: 1.5em;
    
line-height: 3em;
    
margin-bottom: 1em;
}
.archive-side-nav-item {
    
padding: 1em 1em;
    
margin-bottom: 0.1em;
    
display: flex;

background: #eee;
}

#archive-side-nav {
             flex: 1;
             margin-left: 2em;
             color: var(--themeColor);
}
fa {
    font-size: 1.3em;
}
.archive-side-nav-item-icon {
    margin-right: 1em;
}

.archive-side-nav-category {
    margin-top: 2em;
    background: #eee;
}

.archive-view2{
    margin-bottom: 1em;
}

.archive-view2 img{
    transition: all 0.3s ease-in-out;
    object-fit: cover;
    max-width: 100%
}
.archive-view2:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.archive-view2:hover{
    background: var(--hoverColor);
    color: var(--lightTheme);
    
}

#navpages {
    list-style: none;
}
