:root {
    --themeColor: #333222;
    --hoverColor: #eee;
    --bodyColor:  #fff;
    --lightTheme:   #444333;
}
::-moz-selection {
    /* Code for Firefox */
    background: var(--themeColor);
    color: var(--hoverColor);
}
::selection {
    color: var(--hoverColor);
    background: var(--themeColor);
}
@font-face {
    font-family: "Ubuntu Light";
    src: url(../fonts/Ubuntu-L.ttf ) format("truetype");
}
@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Thin.otf ) format("truetype");
}
@font-face {
    font-family: "Raleway Regular";
    src: url(../fonts/raleway_regular.ttf ) format("truetype");
}
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Raleway Regular", "Sans Serif";
    background-color: var(--bodyColor);

    font-size: 1em;
    line-height: 2em;
    font-weight: normal;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;

}
footer {
    background-color: var(--themeColor);
    display: table;
    width: 100%;
    height:100vh;
    position: relative;
    min-height: 400px;
}
.footer {
    padding: 1em 0;
    text-align: center;
    color: var(--hoverColor);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header {
    background: var(--themeColor);
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    z-index: 100000;
    height:100vh;
    min-height: 400px;
}
.header {
    position: absolute;
    text-align: center;
    color: var(--hoverColor);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    flex: 1;
    width: 90%;
    max-width: 1260px;
    /* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
    /*min-width: 500px;
     a min-width may be desirable to keep this layout from getting too narrow. This keeps line length more readable in the side columns. IE6 does not respect this declaration. */
    margin: 0 auto;
    /* the auto value on the sides,coupled with the width,centers the layout. It is not needed if you set the .container's width to 100%. */
}
.content {
    flex: 1;
    padding: 3em 0em;
}
.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
p {
    font-size: 1em;
}
hr {
    margin: 2em 0;
    border-top: 3px solid var(--themeColor);
}
.site {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.shadowTD:hover{
    box-shadow:
                3px 3px #333,
                6px 6px #777,
                9px 9px #ddd;
        -webkit-transform: translate(-6px,-6px);
        transform: translate(-6px,-6px);    
}
.shadowTD:active{
        transform: translate(0px,0px);
        box-shadow:none;
}

.sk-cube-grid {
  width: 20em;
  height: 10em;
  margin: 0px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: var(--themeColor);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.TDShadowText{
                   text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
