<div style="position:relative;"> 
    <div style="
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: var(--bodyColor);
        font-size: 5em;
        font-weight: bold;
        z-index:1;
    ">404</div>
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
</div>
<div id="error-details">
    Bad route. Can't find the link you requested.
</div>
