<div id="imgFrame"><img style="margin: 0 auto;display: table;" src="" alt="" title="" class="imgclick"></div>
<div>
   <div id="archive-page-heading">
      <h1 class="msg"></h1>
   </div>
   <div  style="display: flex;">
      <div style="flex: 3;">
         <div style="width:100%;float:left" id="postcontent">
            <div id="post-wrapper"></div>
            <hr/>

            <div>
               <h2 class="msg">Comments</h2>
               <form name="commentForm" id="commentForm" style="width: 100%">
                  <div style="width: 100%;">
                     <div style="float: left; width: auto;">
                        <p class="msg">Anonymous</p>
                     </div>
                     <div style="float: left; width: inherit;">
                        <textarea placeholder="Comment..." id="commenttext" class="input" style="width: 100%; min-width: 100%; max-width: 100%; max-height:500px; height:6em;" required></textarea>
                        <br />
                        <button id="commentsubmit" style="width: 12em;height: 3em;font-size: 1em;padding: 2px;">Submit</button>
                     </div>
                  </div>
               </form>
               <div id="comments" style="width: 100%; margin-bottom: 50px;clear:both;">
               </div>
            </div>
         </div>
         <div style="width:100%;float:right;visibility:visible" id="navpage">
             <div style="display:flex;">
                 <button id="viewOne" style="flex:1;background:#ccc;" disabled>Grid View</button>
                 <button id="viewTwo" style="flex:1">List View</button>
                 <button id="viewThree" style="flex:1">Detail View</button>
             </div>
            <ul id="navpages">
            </ul>
         </div>
      </div>
      <div id="archive-side-nav">
          

          <div class="archive-side-nav-item post-related-item" id="item1">
              <span class="archive-side-nav-item-icon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
              <span class="archive-side-nav-item-text">Show Year wise list here</span>
          </div>
          <div class="archive-side-nav-item post-related-item" id="item2">
              <span class="archive-side-nav-item-icon"><i class="fa fa-tags" aria-hidden="true"></i></span>
              <span class="archive-side-nav-item-text">Untagged</span>
          </div>
          <div class="archive-side-nav-item post-related-item" id="item3">
              <span class="archive-side-nav-item-icon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
              <span class="archive-side-nav-item-text">Sizil Krishna</span>
          </div>

          <div class="archive-side-nav-category tag-cloud" id="category-2">
                <h2 style="text-align: center;padding: 0.5em;">Keywords</h2>
                <div class="archive-side-nav-item">
                  <span class="archive-side-nav-item-text"></span>
                </div> 
          </div>          
          
          <div class="archive-side-nav-category archive-year-month" id="category-3">
                <h2 style="text-align: center;padding: 0.5em;">Archive</h2>
                  <div class="archive-side-nav-item">
                  <span class="archive-side-nav-item-text"></span>
                </div> 
          </div>
          

           <div class="archive-side-nav-category related-posts  post-related-item" id="category-1">
                <h2 style="text-align: center;padding: 0.5em;">Related Posts</h2>
          </div>         

         
      </div>
   </div>
</div>
<script type="text/template" id="post-content-box">
  
   <div id="post-inner-content">
       <% if(thumb){ %>
           <div class="image" data-content="<%= heading %>">
               <img style="margin: 0px auto;display: table;" src="<%= thumb %>" alt="<%= heading %>" title="">
           </div>
           <% } %>
        <%= content %>
   </div>
</script>
<script type="text/template" id="tags-content-box">
   <% _.each(obj, function(val) { %>
       <a href="#tag/<%= val.tagname %>" class="opentags coolclass" id="<%= val.id %>">
           <%= val.tagname %>
       </a>
       <% });  %>
</script>
<script type="text/template" id="comments-content-box">
   <% _.each(obj, function(val, index) { %>
       <div style="padding: 20px;" id="archivehead">
           <div style="float: right" class="deletecomm"> </div>
           <p class="msg" style="margin-bottom: 5px;font-style: italic;">(#
               <%= (val.new)?'newcomment':obj.length-index+'/'+obj.length %>) Anonymous</p>
           <p style="margin-bottom: 5px;">
               <%= val.comment %>
           </p>
           <h5 class="msg" style="font-style: italic;"><%= new Date(Date.parse(val.date)).toDateString() %></h5>
       </div>
       <% });  %>
</script>
<script type="text/template" id="sidenavitem-related-content-box">
<% _.each(obj, function(val, index) { %>
    <div class="archive-side-nav-item">
          <span class="archive-side-nav-item-icon"><i class="fa fa-book" aria-hidden="true"></i></span>
          <span class="archive-side-nav-item-text"><a href="<%= '#archive/'+new Date(Date.parse(val.date)).getFullYear()+'/'+(new Date(Date.parse(val.date)).getMonth()+1)+'/'+val.id %>"><%= val.heading %></a></span>
    </div>
<% });  %>
</script>
<script type="text/template" id="sidenavitem-tagcloud-content-box">
<% _.each(obj, function(val, index) { %>
    <a href='#tag/<%= val.tagname %>' style='font-size:<%= (val.num<20)?(0.8+val.num/20)+"em":((1+val.num/40)+"em") %>'><%= val.tagname %></a>
<% });  %>
</script>
<script type="text/template" id="archivepage-grid-view1">
<% var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]; %>
    <% _.each(obj, function(id, index){ %>
        <li class="hideme coolclass" id="<%= index %>">
            <div style=" display: flex;font-weight: bold;color: white;line-height:1em;">
                <a class="hideMeNav">[-]</a>
                <h3 class="msg" style="background: var(--themeColor);padding: 10px;flex: 1;color: inherit;margin-left: 10px;"><%= index %></h3>
            </div>
            <ul id="list<%= index %>">
            <% _.each(id, function(_id, _index){ %>
                    <li class='hideme coolclass' id='<%= index + _index %>'>
                    <div style='display: flex;font-weight: bold;color: white;line-height:1em;'>
                        <a class='hideMeNav'>[-]</a>
                        <h3 class='msg' style='background: var(--themeColor);padding: 10px;flex: 1;color: inherit;margin-left: 10px;'><%= _index %></h3>
                    </div> 
                    <ul style='display: flex;flex-wrap: wrap;' id='list<%= index + _index %>'>                
                <% _.each(_id, function(__id, __index){ %>
                        <% thumbnail = (__id.thumb) ? "<div class='archiveiconsimg'><img src='" + __id.thumb + "' ></div>" : ''; %>
                        <li class='coolclass anchor openpost' id='<%= __id.id %>'>
                            <a href='#archive/<%= index %>/<%= (months.indexOf(_index)+1) %>/<%= __id.id %>' style='display:block;text-decoration:none;'>
                                <%= thumbnail %>
                                <h3><%= __id.heading %></h3>
                                <h5><%= new Date(__id.date).toDateString() %></h5>
                                <div style="line-height:normal;"><%= __id.preview %>...</div>
                            </a>
                        </li>
                <% }); %>
                </ul></li>
            <% }); %>
            </ul></li>
    
    <% }); %>
</script>

<script type="text/template" id="archivepage-grid-view2">
<% _.each(obj, function(row, index){ %>
    <li class="archive-view2" id="<%= row.id %>">
        <a href="#archive/<%= new Date(row.date).getFullYear() %>/<%= (new Date(row.date).getMonth() + 1) %>/<%= row.id %>" style="display:flex;text-decoration:none;">
            <%= (row.thumb) ? '<div class="" style="flex:1.3;overflow:hidden;margin:1em;"><img src="'+ row.thumb +'"></div>'  : '' %>
            <div style="flex:3;margin:1em;">
                <h2><b><%= row.heading %></b></h2>
                <h5><%= new Date(row.date).toDateString() %> -  Sizil Krishna</h5>
                <div style="line-height:normal;margin-top:1em;"> <%= row.preview %>... (Read More)</div>
                
            </div>
        </a>
    </li>
<% }); %>
</script>

<script type="text/template" id="archivepage-grid-view3">
<% _.each(obj, function(row, index){ %>
    <li class="archive-view2" id="<%= row.id %>" >
    
        <a href="#archive/<%= new Date(row.date).getFullYear() %>/<%= (new Date(row.date).getMonth() + 1) %>/<%= row.id %>" style="text-decoration:none;padding:1.5em;" >
    <h2 style=""><b><%= row.heading %></b></h2>     
        
        <div style="margin:1em;" >
                    
            <h5><%= new Date(row.date).toDateString() %> -  Sizil Krishna</h5>
            <p><%= row.preview %>... (Read More)</p>
        </div>
        </a>
    </li>
<% }); %>
</script>