<div style="width:100%;">
    <div id="contactform" style="float:left; width:50%;">
        <h1 class="msg">Contact Page</h1>
        <br/>
        <p>If you have any questions/comments or just want to say hi, please contact me.</p>
        <br />



        <form id="contactForm" name="myform" style="width:70%;min-width:300px">
            <input type="text" id="username" placeholder="Enter Name." name="name" maxlength="300" class="input" required>
            <input type="email" id="useremail" placeholder="Enter E-mail." name="email" maxlength="300" class="input" required>
            <textarea id="usermsg" placeholder="Enter Message." name="message" class="input"  style="height:6em;line-height:1.5em;max-width:100%" required></textarea>
            <br>
            <input type="submit" name="submit" value="Submit" class="button" id="sendMsg">
        </form>
        <h2 class=msg id="msgsentinfo"></h2>
    </div>
    <div id="network" style="float:right; width:50%;text-align:right;">
        <h1 class="msg">Join me</h1>
        <br/>
        <a href="https://www.facebook.com/sizil.krishna" target="_blank" id="facebook">Facebook</a>
        <br/>
        <a href="http://www.linkedin.com/profile/view?id=248846391" target="_blank" id="linkedin">LinkedIn</a>
        <br/>
        <a href="https://plus.google.com/101506689537468173341" target="_blank" id="google+">Google+</a>
        <br/>
    </div>
</div>
