
<h1 class="msg">Welcome to my Page</h1>
<br/>
<p>Lets keep things Simple, but Elegant.</p>
<div id="refer">
    <h1 class="msg">About me ? Find out.</h1>
    <br>
    <ul>
        <li><a href="#work" class="circlelink shadowTD" id="worklink">Work</a>
        </li>
        <li><a href="#skills" class="circlelink shadowTD" id="skilllink">Skills</a>
        </li>
        <li><a href="#resume" class="circlelink shadowTD" id="resumelink">Resume</a>
        </li>
    </ul>
</div>