<div>
    <div class="skillsdiv">
<h2 class="msg">Programming Skills</h2>

<div id='archivehead'>C</div>
<div id='archivehead'>C++</div> 
<div id='archivehead'>PHP</div> 
<div id='archivehead'>MySql</div> 
<div id='archivehead'>Python</div>
<div id='archivehead'>Java</div>
<div id='archivehead'>HTML</div> 
<div id='archivehead'>JavaScript (JQuery)</div> 
<div id='archivehead'>CSS</div> 
    </div>

<div class="skillsdiv">
<h2 class="msg">Operating Systems</h2>
<div id='archivehead'>Microsoft Windows (XP, 7, 8)</div> 
<div id='archivehead'>Linux (Debian, Slackware, Fedora)</div>
    </div>
<div class="skillsdiv">

<h2 class="msg">Software Tools</h2>
<div id='archivehead'>Android Application Development</div>
<div id='archivehead'>MATLAB </div>
<div id='archivehead'>Gnuplot</div> 
<div id='archivehead'>Visual Studio</div> 
<div id='archivehead'>Wireshark</div>
</div>
</div>