<% _.each(obj, function(elem){ %>
<div class="workhead" id="<%= elem.id %>">
    <h3 class="msg title"><%= elem.title %></h3>
    <p class="designation"><%= elem.designation %></p>
    <p class="tenure"><%= elem.start %> - <%= elem.end %></p>
    <p class="work"><%= elem.work %></p>
</div>
<% }) %>
